.sport-rules-container {
	padding: 20px;
	background-color: $color-fourth;
	box-shadow: $box-shadow-first;
	border-radius: 15px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.sport-rules__table {
	border-collapse: collapse;
}

.sport-rules__table--td1 {
	width: 20%;
	padding: 5px;
	border: 1px solid $color-seventh;
}

.sport-rules__table--td2 {
	border: 1px solid $color-seventh;
	padding: 5px;
}
