div(class='accordion-container ed-grid')
	include:markdown-it(html) ../md/sport-rules.md
	div(class='accordion v1')
		div(class="a-container")
			p(class="a-btn") Futbol Americano <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/futbol-americano.md
				div(class='accordion v1')
		div(class="a-container")
			p(class="a-btn") Basketball <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/basketball.md
				div(class='accordion v1')
		div(class="a-container")
			p(class="a-btn") Baseball <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/baseball.md
		div(class="a-container")
			p(class="a-btn") Hockey <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/hockey.md
		div(class="a-container")
			p(class="a-btn") Fútbol Soccer <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/soccer.md
		div(class="a-container")
			p(class="a-btn") Golf <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/golf.md
		div(class="a-container")
			p(class="a-btn") Boxeo - Mixed Martial Arts (MMA) - UFC <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/boxeo.md
		div(class="a-container")
			p(class="a-btn") Tennis <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/tennis.md
		div(class="a-container")
			p(class="a-btn") Autoracing <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/autoracing.md
		div(class="a-container")
			p(class="a-btn") Reglas Generales de Props <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/prop-rules.md
		div(class="a-container")
			p(class="a-btn") Apuestas Live In-Game Lines <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/live-games.md
		div(class="a-container")
			p(class="a-btn") Tarjetas Parlay <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/parlay-cards.md
