div(class='ed-grid login-wrapper')
	div(class='login')
		div(class='login-content')
			p(class='login-content__phone') Apuestas: 
				a(href="tel:+018006815357") +01-800-681-5357 
			form(action="#" class='login__form')
				label(for='user') Usuario:
				input(type='text' id='user' name='user' required)
				label(for='password') Contraseña:
				input(type="password" id="password" name="password" required)
				button(type="submit") Ingresar
			div(class='login-agents')
				a(class='login-agent__btn' href="https://adm.pick2score.com/login" target="_blank") agentes 2.0
				a(class='login-agent__btn' href="https://agents.pick2score.com/AgentSiteV2/" target="_blank") agentes
	div(class='login-img')
		img(src="assets/img/login-img.jpg", alt="")
