- pages = ['reglamento', 'reglas deportes']

nav(class='top-nav')
	div(class='top-nav__container')
		a(href='index.php', class='top-nav__link')
			img(src='assets/img/logotipo-vagobet.png', alt='vagobet', class='top-nav__logo')
		ul(class='top-nav__menu')
			each page in pages
				li(class='top-nav__li'): a(class='top-nav__anchor' href=`${page.split(' ').join('-')}.html`)= page.toUpperCase()	
		div(class='top-nav-control')
			button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
				span.hamburger-box
					span.hamburger-inner
