extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'kikeestrada'
	-content			= 'content'
	-pageDescription	= 'This website contains a collection of projects developed by Enrique Estrada using a Gulp boilerplate developed by him'
block main-header
block main-container 
	include ../components/markdown
block main-footer
block scripts
