extends ../config/template
append config
	-currentPage		= "Inicio"
	-siteName			= 'Vagobet'
	-content			= 'content'
	-pageDescription	= 'Página de Login.'
block main-header
block main-container
	include ../components/login
block scripts 
