extends ../config/template
append config
	-currentPage		= "Reglamento"
	-siteName			= 'Vagobet'
	-content			= 'content'
	-pageDescription	= 'Página de reglamentos y regulaciones.'
block main-header
block main-container
	include ../components/general-rules
block scripts
