body {
	margin         	: var(--header-height) 0 0 0;
	min-height     	: calc(100vh - var(--header-height));
	background 		: var(--body-bg);
	display        	: flex;
	flex-direction 	: column;
}

.main-header{}
.main-container{
	margin-top: 40px;
	//padding: 0 16px;
	.container{
		position: relative;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}
.main-footer {
	background 		: $color-first;
	color      		: #FFF;
	padding    		: 2rem 0;
	font-size  		: fontSize(small);
	margin-top 		: auto;
}
